# binaries
/bin/
*.exe
/sharewared
/omarket
/sharewarectl
/hello-shareware

# makepkg
*.pkg.tar.zst
*.pkg.tar.xz
examples/hello-shareware/pkg/
examples/hello-shareware/src/

# state
*.db
.env

# editor
.idea/
.vscode/
