omarket.dev {
	reverse_proxy localhost:8484

	encode gzip

	header {
		Strict-Transport-Security "max-age=31536000"
		X-Content-Type-Options "nosniff"
	}
}

www.omarket.dev {
	redir https://omarket.dev{uri} permanent
}
